
<div id="reka">
<form action=""  id="fff">
    <h2><span class="entypo-login"><i class="fa fa-sign-in"></i></span> Login</h2>
    <button class="submit" (click)="CheckPassword()" ><span class="entypo-lock"><i class="fa fa-lock"></i></span></button>
    <span class="entypo-user inputUserIcon">
       <i class="fa fa-user"></i>
     </span>
    <input type="text" class="user" placeholder="ursername"  [(ngModel)]="UserName" name="name"/>
    <span class="entypo-key inputPassIcon">
       <i class="fa fa-key"></i>
     </span>
    <input type="password" class="pass"placeholder="password" [(ngModel)]="UserPassword" name="s"/>
  </form></div>